footer{
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 1px solid rgb(18, 55, 42);
    bottom: -10px;
    height: 100PX;
    max-height: 100px;
}

.footer .navbar-logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-style: italic;
    padding-right: 10px;
  }
  
.footer .navbar-logo span {
    color: var(--primary);
}
